body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
    font-size: 3em;
    margin: 0;
}
ul {
    font-size: 1.3em;
}
p {
    font-size: 1.5em;
    font-family:sans-serif;
}

.project {
    margin-bottom: 20px;
    margin: 0cd;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    section {
        padding: 10px;
    }
}